html {
  font-size: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.7;
  background-color: #fefefe;
  color: #383838;
}

article {
  margin: {
    left: auto;
    right: auto;
  }
  padding: 2rem 1rem 4rem;
  max-width: 40rem;
}

h1 {
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  text-align: center;
  font-weight: 300;
  margin-top: 2em;
}

h5,
h6 {
  font-size: 1rem;
}

h6 {
  font-weight: normal;
  font-style: italic;
}

.status, .hosting {
  text-align: center;
}

hr {
  display: block;
  background: none;
  height: 0;
  border: none;
  border-top: 1px solid #383838;
  margin: 3em auto;
}

hr + h2 {
  margin-top: 0;
}

pre {
  padding: 1rem;
  overflow: scroll;
}

blockquote {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-style: italic;
}

pre,
pre code {
  font-size: 0.9rem;
  background-color: unset;
}

code {
  font-size: 1rem;
  background-color: #f8f8f8;
  display: inline-block;
  padding: 0.1em 0.2em 0;
}

sup {
  line-height: 0;
}

// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}

.footnote-definition {
  display: list-item;
  list-style-type: decimal;
}

.footnote-definition-label {
  display: none;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 90%;
  }

  article {
    padding-top: 0;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: #fefefe;
    background-color: hsl(205, 11%, 10%);
  }

  a, a:link {
    color: hsl(205, 100%, 50%);
  }

  a:visited {
    columns: hsl(266, 100%, 70%);
  }

  a:hover,
  a:active {
    color: hsl(205, 100%, 80%);
  }

  code {
    background-color: #222;
  }
}

@import url("syntax-theme-dark.css") (prefers-color-scheme: dark);
@import url("syntax-theme-light.css") (prefers-color-scheme: light);
