<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{section.title}}</title>
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A proposal for managing changes to TypeScript types, including when the TypeScript compiler makes breaking changes in its type-checking and type emit across a “minor” release.">
  <meta charset="UTF-8">
  <meta name="robots" content="index, follow">
</head>

<body>
  <article>
    <h1>{{section.title}}</h1>
    <p class="status">
      Version {{section.extra.version}}<br/>
      (Last updated on {{section.extra.date | date(format="%B %e, %Y") }})<br/>
      See the <a href="https://github.com/typed-ember/semver">source</a>,
      file an <a href="https://github.com/typed-ember/semver/issues">issue</a>,
      or suggest a <a href="https://github.com/typed-ember/semver/pulls">change</a>.
    </p>
    <hr/>
    {{section.content | safe}}
  </article>
</body>

</html>