name: Build and deploy the site
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' # only build on main
    steps:
    - name: checkout
      uses: actions/checkout@v3.0.0
    - name: build_and_deploy
      uses: shalzz/zola-deploy-action@v0.17.2
      env:
        PAGES_BRANCH: gh-pages
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
